<script src="http://maps.google.com/maps?file=api&v=2.x&key=<?=$GLOBALS['CURRENT_CPE_TEMPLATE']->GoogleMapsKey ?>"
      type="text/javascript"></script>
    <script type="text/javascript">
    
    var address = "<?=$GLOBALS['CURRENT_CPE_TEMPLATE']->Adresse?>";
    var map = null;
	var geocoder = null;

    function addToMap(response) {
       ort = response.Placemark[0];
       point = new GLatLng(ort.Point.coordinates[1],ort.Point.coordinates[0]);
       map.setCenter(point, 16);
       marker = new GMarker(point);
       map.addOverlay(marker);
       marker.openInfoWindowHtml(ort.address);
    }

	function initialize() {
	    if (GBrowserIsCompatible()) {
	        map = new GMap2(document.getElementById("map_canvas"));
	        map.setUIToDefault();
	        geocoder = new GClientGeocoder();
	        geocoder.getLocations(address, addToMap);
	     }
	}

  window.onload = initialize;  
    </script>
 
  <div id="map_canvas" style="width: 550px; height: 350px; margin: 50px 0 50px 0;"></div>