@CHARSET "UTF-8";

#fehler {
	color: red;
	font-weight: bolder;
	font-size: 15px;
	margin: 10px 0 30px 0;
}
.cpe-fl {
	float: left;
}
.cpe-cl {
	clear: left;
}
.cpe-mr-10 {
	margin-right: 10px;
}
.cpe-mr-20 {
	margin-right: 20px;
}
.cpe-mr-30 {
	margin-right: 30px;
}
.cpe-mr-40 {
	margin-right: 40px;
}
.cpe-mr-50 {
	margin-right: 50px;
}
.cpe-width-10 {
	width: 10px;
}
.cpe-width-20 {
	width: 20px;
}
.cpe-width-30 {
	width: 30px;
}
.cpe-width-40 {
	width: 40px;
}
.cpe-width-50 {
	width: 50px;
}
.cpe-width-100 {
	width: 100px;
}
.cpe-list-record {

	background-color: #EDF3FF;
	border: 1px solid #CCCCCC;
	margin-top: 10px;
	width: 580px;
	padding-left: 5px;
	padding-top: 20px;
}
.cpe-list-record-name {
	font-size: 15px;
	font-weight: bolder;
}
.cpe-list-record-fachrichtung {
	font-size: 12px;
	font-weight: bold;
}
.cpe-list-adresse1 {
	padding-top: 10px;
}
.cpe-list-adresse2 {
	padding-top: 0px;
}
.cpe-list-telefon {
	padding-top: 0px;
}
.cpe-list-IhreSucheergab {
	font-size: 12px;
	font-weight: bold;
}
.cpe-list-pagination {
	margin-top: 22px;
	padding-top: 4px;
	border-top: 1px solid #ece4d9;
}
.cpe-list-pagination li {
	display: inline;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.cpe-list-pagination p {
	width: 160px;
	float: left;
	padding-right: 3px;
	padding-left: 3px;
	text-align: left;
}
.cpe-list-pagination ul {
	width: 240px;
	float: right;
	margin: 0px;
	padding: 0px 3px;
	text-align: right;
}
.cpe-detail-left-label {
	float: left;
	width: 150px;
	font-weight: bold;
}
.cpe-detail-value-right {
	float: left;
	width: 300px;
	clear: left;
}
h2.cpe-detail {

	color: #8398D2 !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-weight: bold !important;
	padding: 0 !important;
	margin: 2px 0 1px 0 !important;
}
.ui-tabs .ui-tabs-nav li {
	border-bottom: 0 none !important;
	float: left;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none !important;
	margin: 0 0.2em 1px 0;
	padding: 0;
	position: relative;
	top: 1px;
	white-space: nowrap;
}
.arztbild-liste img {
	margin: 0px 15px 8px 8px;
	padding: 3px;
	border: 1px solid #E0E0E0;
	height:120px;
	float:right;
}


