
<form action="<?=$this->frmTarget?>" method="post">
	<div class="cpe-list-IhreSucheergab">
		
		Ihre Suche ergab <?=$this->anzahl?> Treffer: 
		
	</div>

<?php


while ($this->rs->next())
{
	?>

	<div class="cpe-list-record">
	<?php if ($this->rs->premium == 1) { ?>	
<div class="arztbild-liste">
      <img src="<?=  $this->rs->bild ?>" alt="Zahnarzt in <?=  $this->rs->ort ?> <?=  $this->rs->anrede. " " .$this->rs->vorname . " ".$this->rs->name ?> "></img></div>
<?php }  ?>		
		<span class="cpe-list-record-name">
				<a href="<?=  $this->modulordner.$this->rs->seourl ?>.html"><?=  $this->rs->anrede. " " .$this->rs->vorname . " ".$this->rs->name ?><br/></a>
		</span>
		
		<div class="cpe-list-record-fachrichtung">
				<?=  $this->rs->fachrichtung ?>
		</div>
		
		<div class="cpe-list-adresse1">
				<?=  $this->rs->strasse ?>
		</div>
	
		<div class="cpe-list-adresse2">
				<?=  $this->rs->plz . " " .$this->rs->ort ?>
		</div>		
		
		
		<div class="cpe-list-telefon">
				<?=  $this->rs->telefon ?>
		</div>
		<?php if ($this->rs->Distance) { ?>
			<div class="cpe-list-entfernung">
					<br/><b>Entfernung:</b> <?=   number_format($this->rs->Distance, 2); ?> km
			</div>		
		<?php } ?>
		<br/>
	</div>	
	

	
	<?php
}

?>

<div class="cpe-list-pagination">

    <?=  $this->pagination ?>

</div>
	
</form>