
        <style>

body{

  line-height: 20px;

}

</style>

<script>

function pruefeFeld(){
	
	if(document.getElementById("1").value != "" && document.getElementById("2").value == ""){
		document.getElementById("fehler").innerHTML = 'Bitte f&uuml;llen Sie bei der Umkreissuche beide Felder aus.';	
		return false;
	}	
	
	if(document.getElementById("1").value == "" && document.getElementById("2").value != ""){
		document.getElementById("fehler").innerHTML = 'Bitte f&uuml;llen Sie bei der Umkreissuche beide Felder aus.';
		return false;
	}

	if(document.getElementById("1").value.length < 5 && document.getElementById("1").value.length > 0){
		document.getElementById("fehler").innerHTML = 'Im Feld Postleitzahl m&uuml;ssen f&uuml;nf Zeichen stehen.';
		return false;
	}
	
	if(document.getElementById("1").value == "" && document.getElementById("2").value == ""){
		return true;
	}
	if(document.getElementById("1").value != "" && document.getElementById("2").value != ""){
		return true;
	}
}

</script>


<form action="" method="post" class="form-suche">
<h2><?php echo $GLOBALS['TL_LANG']['MOD']['ContaoPortalEngine']['Fahrzeugsuche'] ?></h2>
<div id="fehler"></div>









<div style="float:left;  margin-right:25px;">
	<div>
		<?php echo $GLOBALS['TL_LANG']['MOD']['ContaoPortalEngine']['Kategorie'] ?>
	</div>
	<div>
		<?=$this->fsmKategorien;?> 
	</div>
</div>

<div style="float:left;  margin-right:25px;">
	<div>
		<?php echo $GLOBALS['TL_LANG']['MOD']['ContaoPortalEngine']['Hersteller'] ?>
	</div>
	<div>
		<?=$this->fsmHersteller;?> 
	</div>
</div>

<div style="float:left;  margin-right:25px;">
	<div>
		<?php echo $GLOBALS['TL_LANG']['MOD']['ContaoPortalEngine']['Fahrzeugart'] ?>
	</div>
	<div>
		<?=$this->fsmFahrzeugarten;?> 
	</div>
</div>


<div style="clear:left"></div><br/>

<div style="float:left;  margin-right:25px;">
	<div>
		<?php echo $GLOBALS['TL_LANG']['MOD']['ContaoPortalEngine']['erstzulassungsjahr'] ?>
	</div>
	<div>
		<?=$this->fsmBaujahr;?> 
	</div>
</div>

<div style="float:left;  margin-right:25px;">
	<div>
		<?php echo $GLOBALS['TL_LANG']['MOD']['tl_cpe_fahrzeuge']['anzahl_achsen'][0] ?>
	</div>
	<div>
		<?=$this->fsmAnzahlAchsen;?> 
	</div>
</div>





<!--
	
<div>
	<div>
		2. Welche Sprache soll Ihr Zahnarzt sprechen?
	</div>
	<div>
		<?=$this->fsmSprachen;?> 
	</div>
</div>
	<br>
<div style="float:left; width:280px; margin-right:25px;">
	<div>
		3. Nach Behandlungsschwerpunkten suchen?
	</div>
	<div>
		<?=$this->fsmSchwerpunkte;?>
	</div>
</div>
	
<div>
	<div>
		4. Umkreissuche mittels Ort oder Postleitzahl?
	</div>
	<div>
		<input id="1" name="umkreis" maxlength="5">
		<select id="2" name="selUmkreis">
			<option value="">--</option>
			<option value="5">5 km</option>
			<option value="10">10 km</option>
			<option value="15">15 km</option>
			<option value="20">20 km</option>
			<option value="25">25 km</option>
			<option value="30">30 km</option>
			<option value="35">35 km</option>
		</select>
	</div>
</div>


-->

<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">


<div style="clear:left"></div>
<br/>
<button type="submit" onclick="return pruefeFeld()"><?=$GLOBALS['TL_LANG']['MOD']['ContaoPortalEngine']['suchen']?></button>
<br/><br/><br/>



<?php


if ($this->anzahl == 0)
{
    echo $GLOBALS['TL_LANG']['MOD']['ContaoPortalEngine']['kein_fahrzeug_gefunden'];
}
else
{

    while ($this->rs->next())
    {
            ?>

            <div class="cpe-list-record">

                    <div class="arztbild-liste">
                        <a href="/<?=$GLOBALS['CPE-SITE'];?>-detail-<?=  $this->rs->fahrzeug_id ?>.html">
                            <img style="width:150px" src="<?=  $this->rs->thumbnail ?>" alt=" "></img>
                        </a>
                    </div>

                    <span class="cpe-list-herstellername">
                            <?=  $this->rs->herstellername ?>	
                    </span>

                    <span class="cpe-list-fahrzeugid">
                            ID: <?=  $this->rs->fahrzeug_id ?>	
                    </span>


                    <br/>
            </div>	



            <?php
    }

}
?>

	<div class="cpe-list-pagination">
		
		<?=  $this->pagination ?>
		
	</div>
	


</form>
