


<form action="die-zahn-suche.html" method="post">

<?=$this->fsmLaender;?> <br/>
<?=$this->fsmSprachen;?> <br/>
<?=$this->fsmSchwerpunkte;?> <br/>





<button type="submit" onclick="return pruefeFeld()">Zahnarztsuche starten</button>

</form>