

<div>
    
<h2><?php  echo $GLOBALS['TL_LANG']['MOD']['ContaoPortalEngine']['Fahrzeugsuche'] ?></h2>

<div class="cpe-detail-left-div1">
    <dl id="cpe-detail-dl-1">
        <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_fahrzeuge']['fahrzeug_id'][0]?>:</dt><dd><?=$this->rs->fahrzeug_id;?></dd>
        <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_fahrzeuge']['hersteller'][0]?>:</dt><dd><?=$this->rs->herstellername;?></dd>
        <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_fahrzeuge']['kategorie'][0]?>:</dt><dd><?=$this->rs->kategoriename;?></dd>
        <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_fahrzeuge']['anzahl_achsen'][0]?>:</dt><dd><?=$this->rs->anzahl_achsen;?> Achsen</dd>
        <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_fahrzeuge']['fahrzeugart'][0]?>:</dt><dd><?=$this->rs->fahrzeugartname;?></dd>
        <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_fahrzeuge']['erstzulassung'][0]?>:</dt><dd><?=date("d.m.Y",$this->rs->erstzulassung);?></dd>
        <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_fahrzeuge']['bereifung'][0]?>:</dt><dd><?=$this->rs->bereifung;?></dd>
    </dl>
    
    <dl id ="cpe-detail-dl-2">
        
        <?php if ($this->rs->gesamtgewicht > 0) { ?>
        <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_fahrzeuge']['gesamtgewicht'][0]?>:</dt><dd><?=$this->rs->gesamtgewicht;?> kg</dd>
        <?php } ?>
        
        <?php if ($this->rs->achsaggregatlast > 0) { ?>
        <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_fahrzeuge']['achsaggregatlast'][0]?>:</dt><dd><?=$this->rs->achsaggregatlast;?> kg</dd>
        <?php } ?>
        
        <?php if ($this->rs->sattellast > 0) { ?>
        <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_fahrzeuge']['sattellast'][0]?>:</dt><dd><?=$this->rs->sattellast;?> kg</dd>
        <?php } ?>
        
        <?php if ($this->rs->leergewicht > 0) { ?>
        <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_fahrzeuge']['leergewicht'][0]?>:</dt><dd><?=$this->rs->leergewicht;?> kg</dd>
        <?php } ?>
        
        <?php if ($this->rs->nutzlast > 0) { ?>
        <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_fahrzeuge']['nutzlast'][0]?>:</dt><dd><?=$this->rs->nutzlast;?> kg</dd>
        <?php } ?> 
        
        <?php if ($this->rs->gesamtlaenge > 0) { ?>
        <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_fahrzeuge']['gesamtlaenge'][0]?>:</dt><dd><?=$this->rs->gesamtlaenge;?> mm</dd>
        <?php } ?>
        
        <?php if ($this->rs->aufsattelhoehe > 0) { ?>
        <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_fahrzeuge']['aufsattelhoehe'][0]?>:</dt><dd><?=$this->rs->aufsattelhoehe;?> mm</dd>
        <?php } ?> 
        
        <?php if ($this->rs->ladehoehe > 0) { ?>
        <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_fahrzeuge']['ladehoehe'][0]?>:</dt><dd><?=$this->rs->ladehoehe;?> mm</dd>
        <?php } ?>
        
        <?php if ($this->rs->laenge_schwanenhals > 0) { ?>
        <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_fahrzeuge']['laenge_schwanenhals'][0]?>:</dt><dd><?=$this->rs->laenge_schwanenhals;?> mm</dd>
        <?php } ?>
        
        <?php if ($this->rs->laenge_ladebett > 0) { ?>
        <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_fahrzeuge']['laenge_ladebett'][0]?>:</dt><dd><?=$this->rs->laenge_ladebett;?> mm</dd>
        <?php } ?>
        
        <?php if ($this->rs->breite > 0) { ?>
        <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_fahrzeuge']['breite'][0]?>:</dt><dd><?=$this->rs->breite;?> mm</dd>
        <?php } ?>
        
        <?php if ($this->rs->teleskopierbar_um > 0) { ?>
        <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_fahrzeuge']['teleskopierbar_um'][0]?>:</dt><dd><?=$this->rs->teleskopierbar_um;?> mm</dd>
        <?php } ?>
        
        <?php if ($this->rs->verbreiterbar_auf > 0) { ?>
        <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_fahrzeuge']['verbreiterbar_auf'][0]?>:</dt><dd><?=$this->rs->verbreiterbar_auf;?> mm</dd>
        <?php } ?>
        
        <?php if ($this->rs->feste_auflage > 0) { ?>
        <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_fahrzeuge']['feste_auflage'][0]?>:</dt><dd><?=$this->rs->feste_auflage;?> mm</dd>
        <?php } ?>        
        
        <?php if ($this->rs->achsabstand > 0) { ?>
        <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_fahrzeuge']['achsabstand'][0]?>:</dt><dd><?=$this->rs->achsabstand;?> mm</dd>
        <?php } ?>
        
        <?php if ($this->rs->sattelvormass > 0) { ?>
        <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_fahrzeuge']['sattelvormass'][0]?>:</dt><dd><?=$this->rs->sattelvormass;?> mm</dd>
        <?php } ?>
        
        <?php if ($this->rs->durchschwenkradius_hinten > 0) { ?>
        <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_fahrzeuge']['durchschwenkradius_hinten'][0]?>:</dt><dd><?=$this->rs->durchschwenkradius_hinten;?> mm</dd>
        <?php } ?>        
    </dl>    
    <br/>
    
    <div>
        <?=$this->rs->freitext ?>
    </div>
    
    <!--<div class="back-link">{{link::back}}</div> -->
</div>

<div class="cpe-detail-right-div1">
    

    <?=$this->gallery;?>
    
    
    
    
    
</div>
    
<div style="clear:left"</div>
    
    
    
    
    
    
</div>