
<?php if ($this->rs->premium == 1) { ?>
<div id="tabs">
  <ul>
    <li><a href="#tab1"><span>Allgemein</span></a></li>
    <?php if ($this->rs->unterseite1_titel) { ?>
    <li><a href="#tab2"><span>
      <?=$this->rs->unterseite1_titel?>
      </span></a></li>
    <?php } ?>
    <?php if ($this->rs->unterseite2_titel) { ?>
    <li><a href="#tab3"><span>
      <?=$this->rs->unterseite2_titel?>
      </span></a></li>
    <?php } ?>
    <?php if ($this->rs->unterseite3_titel) { ?>
    <li><a href="#tab4"><span>
      <?=$this->rs->unterseite3_titel?>
      </span></a></li>
    <?php } ?>
    <?php if ($this->rs->unterseite4_titel) { ?>
    <li><a href="#tab5"><span>
      <?=$this->rs->unterseite4_titel?>
      </span></a></li>
    <?php } ?>
    <?php if ($this->rs->unterseite5_titel) { ?>
    <li><a href="#tab6"><span>
      <?=$this->rs->unterseite5_titel?>
      </span></a></li>
    <?php } ?>
  </ul>
  <div id="tab1">
    <div> 
    <div class="arztbild">
      <img src="<?=  $this->rs->bild ?>" alt="Zahnarzt in <?=  $this->rs->ort ?> <?=  $this->rs->anrede. " " .$this->rs->vorname . " ".$this->rs->name ?> "></img></div>
      <div class="cpe-detail-left-label">Name :</div>
      <div class="cpe-detail-right-value">
        <?=  $this->rs->anrede. " " .$this->rs->vorname . " ".$this->rs->name ?>
      </div>
      <div class="cpe-detail-left-label">Fachrichtung :</div>
      <div class="cpe-detail-right-value">
        <?=  $this->rs->fachrichtung ?>
      </div>
      <br/>
      <div class="cpe-detail-left-label">Stra&szlig;e :</div>
      <div class="cpe-detail-right-value">
        <?=  $this->rs->strasse ?>
      </div>
      <div class="cpe-detail-left-label">PLZ :</div>
      <div class="cpe-detail-right-value">
        <?=  $this->rs->plz ?>
      </div>
      <div class="cpe-detail-left-label">Ort  :</div>
      <div class="cpe-detail-right-value">
        <?=  $this->rs->ort ?>
      </div>
      <div class="cpe-detail-left-label">Telefon :</div>
      <div class="cpe-detail-right-value">
        <?=  $this->rs->telefon ?>
      </div>
      <div class="cpe-detail-left-label">Telefax :</div>
      <div class="cpe-detail-right-value">
        <?=  $this->rs->telefax ?>
      </div>
      <div class="cpe-detail-left-label">E-Mail :</div>
      <div class="cpe-detail-right-value">
        <?=  $this->rs->email ?>
        &nbsp;</div>
      <div class="cpe-detail-left-label">Homepage :</div>
      <div class="cpe-detail-right-value"> <a href="<?=  $this->rs->homepage ?>">
        <?=  $this->rs->homepage ?>
        </a> </div>
      <br/>
      <hr/>
      <h2 class="cpe-detail">Ihr Arzt spricht:</h2>
      <?= $this->Sprachen ?>
      <br/>
      <br/>
      <hr/>
      <h2 class="cpe-detail">Sprechzeiten:</h2>
      <div class="cpe-fl cpe-width-100">Montag:</div>
      <div class="cpe-fl cpe-mr-10">
        <?=$this->rs->sprechzeiten_montag_von ?>
      </div>
      <div class="cpe-fl cpe-mr-10">-</div>
      <div class="cpe-fl cpe-mr-10 ">
        <?=$this->rs->sprechzeiten_montag_bis ?>
      </div>
      <div class="cpe-cl"></div>
      <div class="cpe-fl cpe-width-100">Dienstag:</div>
      <div class="cpe-fl cpe-mr-10">
        <?=$this->rs->sprechzeiten_dienstag_von ?>
      </div>
      <div class="cpe-fl cpe-mr-10">-</div>
      <div class="cpe-fl cpe-mr-10 ">
        <?=$this->rs->sprechzeiten_dienstag_bis ?>
      </div>
      <div class="cpe-cl"></div>
      <div class="cpe-fl cpe-width-100">Mittwoch:</div>
      <div class="cpe-fl cpe-mr-10">
        <?=$this->rs->sprechzeiten_mittwoch_von ?>
      </div>
      <div class="cpe-fl cpe-mr-10">-</div>
      <div class="cpe-fl cpe-mr-10 ">
        <?=$this->rs->sprechzeiten_mittwoch_bis ?>
      </div>
      <div class="cpe-cl"></div>
      <div class="cpe-fl cpe-width-100">Donnerstag:</div>
      <div class="cpe-fl cpe-mr-10">
        <?=$this->rs->sprechzeiten_donnerstag_von ?>
      </div>
      <div class="cpe-fl cpe-mr-10">-</div>
      <div class="cpe-fl cpe-mr-10 ">
        <?=$this->rs->sprechzeiten_donnerstag_bis ?>
      </div>
      <div class="cpe-cl"></div>
      <div class="cpe-fl cpe-width-100">Freitag:</div>
      <div class="cpe-fl cpe-mr-10">
        <?=$this->rs->sprechzeiten_freitag_von ?>
      </div>
      <div class="cpe-fl cpe-mr-10">-</div>
      <div class="cpe-fl cpe-mr-10 ">
        <?=$this->rs->sprechzeiten_freitag_bis ?>
      </div>
      <div class="cpe-cl"></div>
      <?php if($this->rs->sprechzeiten_samstag_von) { ?>
      <div class="cpe-fl cpe-width-100">Samstag:</div>
      <div class="cpe-fl cpe-mr-10">
        <?=$this->rs->sprechzeiten_samstag_von ?>
      </div>
      <?php if($this->rs->sprechzeiten_samstag_bis) { ?>
      <div class="cpe-fl cpe-mr-10">-</div>
      <div class="cpe-fl cpe-mr-10 ">
        <?=$this->rs->sprechzeiten_samstag_bis ?>
      </div>
      <?php }?>
      <div class="cpe-cl"></div>
      <?php }?>
      <br/>
      <hr/>
      <h2 class="cpe-detail">Schwerpunkte:</h2>
      <?= $this->Schwerpunkte ?>
      <br/>
      <br/>
      {{cpe-file::cpe-google-maps.xhtml}} </div>
  </div>
  <?php if ($this->rs->unterseite1_titel) { ?>
  <div id="tab2">
    <?=$this->rs->unterseite1_inhalt?>
  </div>
  <?php } ?>
  <?php if ($this->rs->unterseite2_titel) { ?>
  <div id="tab3">
    <?=$this->rs->unterseite2_inhalt?>
  </div>
  <?php } ?>
  <?php if ($this->rs->unterseite3_titel) { ?>
  <div id="tab4">
    <?=$this->rs->unterseite3_inhalt?>
  </div>
  <?php } ?>
  <?php if ($this->rs->unterseite4_titel) { ?>
  <div id="tab5">
    <?=$this->rs->unterseite4_inhalt?>
  </div>
  <?php } ?>
  <?php if ($this->rs->unterseite5_titel) { ?>
  <div id="tab6">
    <?=$this->rs->unterseite5_inhalt?>
  </div>
  <?php } ?>
</div>
<?php } else { ?>
<div id="tabs">
  <ul>
    <li><a href="#tab-1"><span>Allgemein</span></a></li>
  </ul>
  <div id="tab-1">
    <div>
      <div class="cpe-detail-left-label">Name :</div>
      <div class="cpe-detail-right-value">
        <?=  $this->rs->anrede. " " .$this->rs->vorname . " ".$this->rs->name ?>
      </div>
      <div class="cpe-detail-left-label">Fachrichtung :</div>
      <div class="cpe-detail-right-value">
        <?=  $this->rs->fachrichtung ?>
      </div>
      <br/>
      <div class="cpe-detail-left-label">Stra&szlig;e :</div>
      <div class="cpe-detail-right-value">
        <?=  $this->rs->strasse ?>
      </div>
      <div class="cpe-detail-left-label">PLZ :</div>
      <div class="cpe-detail-right-value">
        <?=  $this->rs->plz ?>
      </div>
      <div class="cpe-detail-left-label">Ort  :</div>
      <div class="cpe-detail-right-value">
        <?=  $this->rs->ort ?>
      </div>
    </div>
  </div>
</div>
<?php }  ?>
