<ul class="zahnarzt-liste"><?php

while ($this->rs->next())
{
	?>
    <?php if ($this->rs->premium == 1) { ?>
<li class="premium">
<a href="<?=  $this->modulordner.$this->rs->seourl ?>.html"><img src="<?=  $this->rs->bild ?>" alt="Zahnarzt in <?=  $this->rs->ort ?> <?=  $this->rs->anrede. " " .$this->rs->vorname . " ".$this->rs->name ?> "></img></a>
<span class="fn org"><a href="<?=  $this->modulordner.$this->rs->seourl ?>.html"><?=  $this->rs->fachrichtung ?>&nbsp;<?=  $this->rs->anrede. " " .$this->rs->vorname . " ".$this->rs->name ?></a></span><br />
<span class="street-adress">&nbsp;<?=  $this->rs->strasse ?>&nbsp;</span><br />
<span class="locality">&nbsp;<?=  $this->rs->ort ?>&nbsp;</span><br />
<span class="postal-code">&nbsp;<?=  $this->rs->plz ?>&nbsp;</span><br />
<span class="tel">&nbsp;Tel.:<?=  $this->rs->telefon ?>&nbsp;</span>
</li>
<?php } else { ?>
<li>
<span class="fn org"><a href="<?=  $this->modulordner.$this->rs->seourl ?>.html"><?=  $this->rs->fachrichtung ?>&nbsp;<?=  $this->rs->anrede. " " .$this->rs->vorname . " ".$this->rs->name ?></a></span><br />
<span class="street-adress"><?=  $this->rs->strasse ?>&nbsp;</span>|
<span class="postal-code">&nbsp;<?=  $this->rs->plz ?>&nbsp;</span>|
<span class="locality">&nbsp;<?=  $this->rs->ort ?>&nbsp;</span>
</li>

<?php }  ?>

	
	<?php
}

?>
</ul>