<h1><?=$this->topic;?></h1>




<?php


while ($this->rs->next())
{
	?>

<div class="cpe-list-record">
    
    <div class="cpe-list-record-left">
        <img src="<?=  $this->rs->thumbnail ?>"/>
    </div>
    
   <div class="cpe-list-record-right">
   
            <span class="cpe-list-record-name">
                
               <?php $fBezeichnung = $this->fBezeichnung ?>
                    
                
                
				<a href="<?=  $this->modulordner.$this->rs->seourl ?>.html"><?=$this->rs->$fBezeichnung. " " .$this->rs->ort  ?><br/></a>
            </span>
   
       <dl>
           
           
            <?php if ($this->rs->flaeche) { ?> 
                <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_immobilien']['flaeche'][0];?>:</dt>
                <dd><?=$this->rs->flaeche;?></dd>
            <?php } ?>

           
            <?php if ($this->rs->preisgebot == 1) { ?>

                <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_immobilien']['preis'][0];?>:</dt>
                <dd><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_immobilien']['preisgebottext'][0];?></dd>
            <?php } else { ?>

                <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_immobilien']['preis'][0];?>:</dt>
                <dd><?=number_format($this->rs->preis,2,",",".");?> €</dd>
            <?php } ?>
           
           
       </dl>
   
   </div>
    
</div>
        <div style="clear:both"></div>        
       

<?php } ?>


