

<div>


    <div class="cpe-details-block1" >
    	
    	 <?php $fBezeichnung = $this->fBezeichnung ?>

    <h1><?=$this->rs->$fBezeichnung;?></h1>

        <dl>
            <?php if ($this->rs->objektnummer) { ?>
                <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_immobilien']['objektnummer'][0];?>:</dt>
                <dd><?=$this->rs->objektnummer;?> </dd>
            <?php } ?>    
                
            <?php if ($this->rs->$fBezeichnung2) { ?>    
                <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_immobilien']['bezeichnung2'][0];?>:</dt>
                <dd><?=$this->rs->$fBezeichnung2;?> </dd>
            <?php } ?>   
            
            <?php if ($this->rs->ort) { ?> 
                <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_immobilien']['ort'][0];?>:</dt>
                <dd><?=$this->rs->ort;?> </dd>
            <?php } ?>
            
            <?php if ($this->rs->flaeche) { ?> 
                <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_immobilien']['flaeche'][0];?>:</dt>
                <dd><?=$this->rs->flaeche;?></dd>
            <?php } ?>

            <?php if ($this->rs->grundstueckflaeche) { ?> 
                <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_immobilien']['grundstueckflaeche'][0];?>:</dt>
                <dd><?=$this->rs->grundstueckflaeche;?></dd>
            <?php } ?>

            <?php if ($this->rs->preisgebot == 1) { ?>

                <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_immobilien']['preis'][0];?>:</dt>
                <dd><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_immobilien']['preisgebottext'][0];?></dd>
            <?php } else { ?>

                <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_immobilien']['preis'][0];?>:</dt>
                <dd><?=number_format($this->rs->preis,2,",",".");?> €</dd>
            <?php } ?>
            
            <?php if ($this->rs->mieteinnahmen) { ?> 
                <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_immobilien']['mieteinnahmen'][0];?>:</dt>
                <dd><?=number_format($this->rs->mieteinnahmen,2,",",".");?> €</dd>
            <?php } ?>
            
            <?php if ($this->rs->asset) { ?> 
                <dt><?=$GLOBALS['TL_LANG']['MOD']['tl_cpe_immobilien']['asset'][0];?>:</dt>
                <dd><?=$this->rs->asset;?> </dd>
            <?php } ?>

 
        </dl>
    </div>
    <div class="cpe-details-block2">
               <?php 
            
            $freitext = "freitext_".$GLOBALS['TL_LANGUAGE'];
            
            if ($this->rs->$freitext) { ?> 
            <?=$this->rs->$freitext;?> 
            <?php } ?>

    </div>        


</div>